@page "/uploadimage"

<div class="container">

    <div class="text-center">
        <div class="h1 rotate-15"><i class="bi bi-card-image"></i></div>
        <h1 class="h4 text-gray-900 mb-4">
            Upload One or More of Your Pictures!
        </h1>
    </div>

    <div class="row">
        
        <div class="mx-auto">

            @if (isLoaded)
            {
                @if (ImageCount == 1)
                {
                    <div class="h-75">
                        <div class="col-12 col-lg-6 card mb-3 mx-auto">
                            <img class="card-img-top h-100" src="@ImageUri" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">@ImageName</h5>
                            </div>
                        </div>
                    </div>
                }
                else
                {
                    <div class="row h-50">
                        @foreach (var image in images)
                        {

                            <div class="col-xs-12 col-md-3 col-lg-2 mt-2">
                                <div class="card pr-md-1">
                                    <div class="card-body">
                                        <p class="card-title">@image.Name</p>
                                    </div>
                                    <img class="card-img-bottom w-100" src="@image.Url" alt="Card image cap">
                                </div>
                            </div>

                        }
                    </div>
                }
            }
            else
            {
                <div class="row">
                    <div class="col-12 mx-auto py-5 text-center">
                        <p>There is no image</p>
                    </div>
                </div>
            }

        </div>
    </div>

    <div class="row">
        <div class="col-6 mx-auto pb-5">
            <div class="default-input-area d-flex justify-content-center">
                <InputFile OnChange="LoadImage" accept="image/jpeg, image/png" multiple/>
            </div>
        </div>
    </div>

    <div class="col-12">
        <!-- TODO FORM jako EditForm + binding do modelu-->
        <form>
            <div class="row justify-content-center mb-5">
                <div class="col-sm-12 col-md-4">
                    <div class="col-md-8 form-group text-center">
                        <label for="selectAlbum">Select target album below</label>
                        <select @onchange="OnSelect" class="form-control" id="selectAlbum">
                            @if (Albums != null)
                            {
                                foreach (var album in Albums)
                                {
                                    <option value="@album.AlbumId">@album.AlbumName</option>
                                }
                            }
                            else
                            {
                                <option value="0">All images</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="d-flex col-sm-6 col-md-2">
                    <button type="submit" @onclick="@( () => UploadImages() )" class="btn btn-outline-info btn-block align-self-center">
                        <i class="bi bi-cloud-upload"></i><span class="px-3">Upload</span>
                    </button>
                </div>
                @if (UploadFailed)
                {
                    <span class="text-warning">@Error</span>
                }
                else if (UploadSucceed)
                {
                    <span class="text-success">Pictures uploaded!</span>
                    Task.Delay(1000);
                    NavigationManager.NavigateTo("images/0");
                }
            </div>
        </form>
    </div>
</div>

