@page "/register"
@layout AuthLayout
@inject NavigationManager NavigationManager

<div class="container">

    <!-- Outer Row -->
    <div class="row justify-content-center">
        <div class="col-xl-12 col-lg-12 col-md-12">
            <div class="card o-hidden border-0 shadow-lg my-5">

                <!-- Nested Row within Card Body -->
                   <div class="col-lg-12">
                        <div class="p-5">
                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-4">Create an Account!</h1>
                            </div>
                            <EditForm Model="@RegisterModel" OnValidSubmit="@OnSubmit" class="user">
                                <DataAnnotationsValidator />
                                @*<ValidationSummary />*@

                                <div class="form-group row">
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        <InputText @bind-Value="@RegisterModel.FirstName" class="form-control form-control-user" placeholder="First Name" />
                                        <ValidationMessage For="() => RegisterModel.FirstName" />
                                    </div>
                                    <div class="col-sm-6">
                                        <InputText @bind-Value="@RegisterModel.LastName" class="form-control form-control-user" placeholder="Last Name" />
                                        <ValidationMessage For="() => RegisterModel.LastName" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <InputText @bind-Value="@RegisterModel.Email" class="form-control form-control-user" placeholder="Email Address" />
                                    <ValidationMessage For="() => RegisterModel.Email" />
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        <InputText type="password" @bind-Value="@RegisterModel.Password" class="form-control form-control-user" placeholder="Password" />
                                        <ValidationMessage For="() => RegisterModel.Password" />
                                    </div>
                                    <div class="col-sm-6">
                                        <InputText type="password" @bind-Value="@RegisterModel.ConfirmPassword" class="form-control form-control-user" placeholder="Repeat Password" />
                                        <ValidationMessage For="() => RegisterModel.ConfirmPassword" />
                                    </div>
                                </div>
                                <span class="text-warning @RegisterWarning">Registration failed.</span>
                                <button type="submit" class="btn btn-primary btn-user btn-block">
                                    Register Account
                                </button>
                                <hr>
                                <a href="#" class="btn btn-google btn-user btn-block">
                                    <i class="bi bi-google"></i> Register with Google
                                </a>
                                <a href="#" class="btn btn-facebook btn-user btn-block">
                                    <i class="bi bi-facebook"></i> Register with Facebook
                                </a>
                            </EditForm>
                            <hr>
                            <div class="text-center">
                                <a class="small" href="/forgot-password">Forgot Password?</a>
                            </div>
                            <div class="text-center">
                                <a class="small" href="/login">Already have an account? Log in!</a>
                            </div>
                        </div>
                    </div>
                </div>          
            </div>
        </div>
</div>
