@page "/register"
@layout AuthLayout

<div class="container">

    <!-- Outer Row -->
    <div class="row justify-content-center">
        <div class="col-xl-12 col-lg-12 col-md-12">
            <div class="card o-hidden border-0 shadow-lg my-5">

                <!-- Nested Row within Card Body -->
                <div class="col-lg-12">
                    <div class="p-5">
                        <div class="text-center">
                            <h1 class="h4 text-gray-900 mb-4">Create an Account!</h1>
                        </div>
                        <EditForm Model="@model" OnValidSubmit="@OnSubmit" class="user">

                            <DataAnnotationsValidator />
                            <ValidationSummary />

                            <div class="form-group row">
                                <div class="col-sm-6 mb-3 mb-sm-0">
                                    <InputText @bind-Value="@model.FirstName" class="form-control form-control-user" placeholder="First Name" />
                                    <ValidationMessage For="() => model.FirstName" />
                                </div>
                                <div class="col-sm-6">
                                    <InputText @bind-Value="@model.LastName" class="form-control form-control-user" placeholder="Last Name" />
                                    <ValidationMessage For="() => model.LastName" />
                                </div>
                            </div>
                            <div class="form-group">
                                <InputText @bind-Value="@model.Email" class="form-control form-control-user" placeholder="Email Address" />
                                <ValidationMessage For="() => model.Email" />
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-6 mb-3 mb-sm-0">
                                    <InputText type="password" @bind-Value="@model.Password" class="form-control form-control-user" placeholder="Password" />
                                    <ValidationMessage For="() => model.Password" />
                                </div>
                                <div class="col-sm-6">
                                    <InputText type="password" @bind-Value="@model.ConfirmPassword" class="form-control form-control-user" placeholder="Repeat Password" />
                                    <ValidationMessage For="() => model.ConfirmPassword" />
                                </div>
                            </div>

                            @if (ShowErrors)
                            {
                                <span class="text-danger">Registration failed. @string.Join("\n", Errors)</span>
                            }
                            else if(Success)
                            {
                                <span class="text-success">Registration complete. Redirecting to login page.</span>
                            }
                            <button type="submit" class="btn btn-primary btn-user btn-block">
                                Register Account
                            </button>
                        </EditForm>
                        <hr>
                        <div class="text-center">
                            <a class="small" href="/forgot-password">Forgot Password?</a>
                        </div>
                        <div class="text-center">
                            <a class="small" href="/login">Already have an account? Log in!</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
