@page "/editalbum/{AlbumId:int}"
@attribute [Authorize]

<section class="section-content padding-y bg">
    <div class="container">

        <div class="row">

            <main class="col-md-9">

                <article class="card mb-3">
                    <div class="card-body">

                        <h4 class="card-title mb-4">Edit album</h4>
                        <br />
                        <div class="h-75">
                            <div class="col-12 col-lg-6 card mb-3 mx-auto">
                                <img class="card-img-top h-100" src="@(album.AlbumCoverPicture != null ? @"data:image;base64," + album.AlbumCoverPicture : @"\picture\dog.jpg")" alt="@album.AlbumName">
                            </div>
                        </div>
                        <br /><br />
                        <EditForm Model="album" OnValidSubmit="SubmitChangesAsync">

                            <DataAnnotationsValidator />
                            <ValidationSummary />

                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">Name</label>
                                <div class="col-sm-6">
                                    <InputText @bind-Value="album.AlbumName" type="text" class="form-control" />
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">Description</label>
                                <div class="col-sm-6">
                                    <InputText @bind-Value="album.Description" type="text" class="form-control" />
                                </div>
                            </div>
                            <div class="row custom-control custom-radio">
                            <div class="col-sm-12 col-md-6">
                            <input type="radio" name="privacy" class="custom-control-input" id="private" checked="@(!status)"
                               @onchange="@(() => status = false)" />
                            <label class="custom-control-label" for="private">
                                Private
                            </label>
                            </div>
                            <div class="col-sm-12 col-md-6">
                            <input type="radio" name="privacy" class="custom-control-input" id="public" checked="@(status)"
                               @onchange="@(() => status = true)" />
                            <label class="custom-control-label" for="public">
                                Public
                            </label>
                            </div>
                            </div>
                            <div align="right">
                                <button class="btn btn-primary"> Save changes </button>
                            </div>
                        </EditForm>
                        @if (Success)
                        {
                            <hr />
                            <div align="center">
                                <span class="text-success">Changes saved.</span>
                            </div> 
                        }
                        else if (Errors.Any())
                       {
                                            <hr />
                                                            <div align="center">
                                                                <span class="text-danger">@string.Join("\n", Errors)</span>
                                                            </div>
                                                        }
                    </div>
                </article>
            </main>
        </div>
    </div>
</section>